.App {
  text-align: center;
  
}

.spinner {
  height: 50vmax;
  width: 50vmax;
  position: relative;
}

.name {
  position: absolute;
  width: 24vmax;
  text-align: right;
  left: 25vmax;
  top: 25vmax;
  line-height: 2vmax;
  font-size: 2vmax;
  display:block;
}
.name span {
  display: block;
  margin-top: -1vmax;
}
