.App {
  text-align: center;
  
}

.spinner {
  height: 50vmin;
  width: 50vmin;
  position: relative;
}

.name {
  position: absolute;
  width: 24vmin;
  text-align: right;
  left: 25vmin;
  top: 25vmin;
  line-height: 2vmin;
  font-size: 2vmin;
  display:block;
}
.name span {
  display: block;
  margin-top: -1vmin;
}
